# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Data
data/

# Experiment artifacts
artifacts/

# Model checkpoints
checkpoints/

# Jupyter
.ipynb_checkpoints/

# Env
.env

# PROJECT_NOTES.md
PROJECT_NOTES.md